$df: flex;
$jc: center;
$ai: center;
$h: 100%;
$w: 100%;
$color_fff: #ffffff;
$color_fe: #fefefe;
$color_dblue: #2c4058;
$color_dgrey: #4b5562;
$color_blue: #55b7ff;
$color_purple: #5d1fec;
$ff: "gotham";
$ffBook: "gothamBook";












